openapi: 3.0.0
info:
  version: 1.0.0
  title: When I Work API Documentation
  description: The When I Work API is thorough, flexible, and restful.

servers:
  - url: https://api.wheniwork.com
    description: Production

security:
  - W-Token: []

tags:
  - name: Login
    description: Login to When I Work
  - name: Shifts
    description: List Shifts
  - name: Times
    description: List Times
  - name: Sites
    description: List Sites

# Ignore this for linting its ok
.default_response: &default_response
  description: A default response
  content:
    application/json:
      schema:
        $ref: '#/components/schemas/Error'

# Ignore this for linting its ok
.not_found_response: &not_found_response
  description: A not found response
  content:
    application/json:
      schema:
        $ref: '#/components/schemas/Error'

paths:
  /2/login:
    post:
      summary: Login
      operationId: Login
      description: Login to When I Work
      tags:
        - Login
      parameters:
        - name: W-Key
          in: header
          description: The developer key
          required: true
          schema:
            type: string
        - name: W-UserID
          in: header
          description: The user id
          required: false
          schema:
            type: string

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string

      responses:
        '200':
          description: A login response
          content:
            application/json:
              schema:
                type: object
                properties:
                  login:
                    $ref: '#/components/schemas/Login'
                  token:
                    type: string
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '404': *not_found_response
        default: *default_response

  /2/shifts:
    get:
      summary: List Shifts
      operationId: GetShifts
      description: Fetch a list of shifts based on a set of filters
      tags:
        - Shifts
      parameters:
        - name: W-UserID
          in: header
          description: The user to select account context for
          required: false
          schema:
            type: string
        - name: user_id
          in: query
          description: The user id to filter by
          required: false
          schema:
            type: integer
        - name: start
          in: query
          description: The start of the filter range.
          required: false
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          description: The end of the filter range.
          required: false
          schema:
            type: string
        - name: unpublished
          in: query
          description: Whether or not to include unpublished shifts. Requires supervisor rights.
          required: false
          schema:
            type: boolean
        - name: include_open
          in: query
          description: Whether or not to include open shifts from the user's assigned Schedules.
          required: false
          schema:
            type: boolean
        - name: include_onlyopen
          in: query
          description: Whether or not to include only open shifts from the user's assigned Schedules.
          required: false
          schema:
            type: boolean
        - name: include_allopen
          in: query
          description: Whether to include open shifts across All Schedules. Requires "Manager or Admin access" level.
          required: false
          schema:
            type: boolean
        - name: deleted
          in: query
          description: Whether to include a list of shift IDs ("deleted_ids") that were deleted during the passed time window.
          required: false
          schema:
            type: boolean
        - name: include_swaps
          in: query
          description: Whether or not to include swap requests.
          required: false
          schema:
            type: boolean
        - name: limit
          in: query
          description: Maximum number of results to return.
          required: false
          schema:
            type: integer
        - name: all_locations
          in: query
          description: Whether to include data from all locations. Shifts are marked as "readonly" if not a manager user.
          required: false
          schema:
            type: boolean
        - name: location_id
          in: query
          description: One or more location IDs by which to limit results
          required: false
          schema:
            type: string
            format: csv
        - name: shift_sort
          in: query
          description: True to sort results by user_id, false to sort by shift time. Missing for default sort
          required: false
          schema:
            type: boolean
        - name: include_repeating_shifts_to
          in: query
          description: End date to include repeating shifts in series, if applicable
          required: false
          schema:
            type: string
            format: date-time
        - name: trim_openshifts
          in: query
          description: |
            Setting to true will work w/ the Allow Partial Openshifts feature to display trimmed start/end times for
            users that can take a conflicting openshift based on the account settings.
          required: false
          schema:
            type: boolean
        - name: limit_by_rules
          in: query
          description: |
            Setting to true will work w/ the Scheduling Rules feature to only return OpenShifts that the requester is eligible for
            according to the scheduling rules settings for the account.
          required: false
          schema:
            type: boolean

      responses:
        '200':
          description: A list of shifts
          content:
            application/json:
              schema:
                type: object
                properties:
                  shifts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Shift'
                  repeating_shifts:
                    description: |
                      This field will be present if the `include_repeating_shifts_to` parameter is provided. For each
                      fetched shift, if it is on a shift chain, we will insert all the shifts on that chain from the
                      first up to the date specified in the parameter.

                    type: array
                    items:
                      $ref: '#/components/schemas/Shift'
                  shiftchains:
                    description: Any shift chains that the fetched shifts are a part of
                    type: array
                    items:
                      $ref: '#/components/schemas/ShiftChain'
        '404': *not_found_response
        default: *default_response

  /2/shifts/{id}:
    get:
      summary: Get Shift
      operationId: GetShift
      description: Get a single shift by ID
      tags:
        - Shifts
      parameters:
        - name: id
          in: path
          description: The ID of the shift
          required: true
          schema:
            type: integer
        - name: include_repeating_shifts_to
          in: query
          description: End date to include repeating shifts in series, if applicable
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  shift:
                    $ref: '#/components/schemas/Shift'
                  repeating_shifts:
                    description: This field will be present if the `include_repeating_shifts_to` parameter is provided. If the fetched shift has a shift chain, we will insert all the shifts on that chain from the first up to the date specified in the parameter.
                    type: array
                    items:
                      $ref: '#/components/schemas/Shift'
                  shiftchains:
                    description: Any shift chain this shift is a part of
                    type: array
                    items:
                      $ref: '#/components/schemas/ShiftChain'
        '404': *not_found_response
        default: *default_response
    put:
      summary: Update Shift
      operationId: UpdateShift
      description: Update an existing shift for scheduling
      tags:
        - Shifts
      parameters:
        - name: id
          in: path
          description: The ID of the shift
          required: true
          schema:
            type: integer
        - name: include_repeating_shifts_to
          in: query
          description: End date to include repeating shifts in series, if applicable
          required: false
          schema:
            type: string
            format: date-time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Shift'
                - type: array
                  items:
                    $ref: '#/components/schemas/Shift'
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  shift:
                    $ref: '#/components/schemas/Shift'
                  repeating_shifts:
                    description: This field will be present if the `include_repeating_shifts_to` parameter is provided. We will insert the created or edited shifts from the beginning of the chain up to the date specified in the parameter.
                    type: array
                    items:
                      $ref: '#/components/schemas/Shift'
                  shiftchains:
                    description: Any shift chain this shift is a part of
                    type: array
                    items:
                      $ref: '#/components/schemas/ShiftChain'
                  deleted:
                    description: A list of shift IDs that were deleted as a result of the update. Applicable for updates to repeating shifts that impact future shifts on the same chain.
                    type: array
                    items:
                      type: integer
        '404': *not_found_response
        default: *default_response
    delete:
      summary: Delete Shift
      operationId: DeleteShift
      description: Delete an existing shift when no longer needed. This operation cannot be undone.
      tags:
        - Shifts
      parameters:
        - name: id
          in: path
          description: The ID of the shift
          required: true
          schema:
            type: integer
        - name: message
          in: query
          description: Used to notify the shift's assignee that their shift has been deleted. Your message will be added to the notification email. If you want to send the notification email without a message, simply send a single space. Must be URL encoded.
          required: false
          schema:
            type: string
        - name: chain
          in: query
          description: Only applies to repeating shifts. Any value will delete the shift and all shifts that come after it on the chain.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether deletion was successful. If absent, it means nothing was actually deleted.
                  deleted:
                    type: array
                    items:
                      type: integer
                    description: The IDs of the shifts that were deleted
        '404': *not_found_response
        default: *default_response

  /2/sites:
    get:
      summary: List Sites
      operationId: GetSites
      description: List all the sites in an account
      tags:
        - Sites
      parameters:
        - name: include_deleted
          in: query
          description: Include deleted sites
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  sites:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
        '404': *not_found_response
        default: *default_response
    post:
      summary: Create Site
      operationId: CreateSite
      description: Used to create a site within an account
      tags:
        - Sites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteRequest'
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  site:
                    $ref: '#/components/schemas/Site'
        '404': *not_found_response
        default: *default_response

  /2/sites/{id}:
    get:
      summary: Get Site
      operationId: GetSite
      description: Get a single site by ID
      tags:
        - Sites
      parameters:
        - name: id
          in: path
          description: The ID of the site
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  site:
                    $ref: '#/components/schemas/Site'
        '404': *not_found_response
        default: *default_response
    put:
      summary: Update Site
      operationId: UpdateSite
      description: Update an existing site
      tags:
        - Sites
      parameters:
        - name: id
          in: path
          description: The ID of the site
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteRequest'
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  site:
                    $ref: '#/components/schemas/Site'
        '404': *not_found_response
        default: *default_response
    delete:
      summary: Delete Site
      operationId: DeleteSite
      description: Delete an existing site. This operation cannot be undone.
      tags:
        - Sites
      parameters:
        - name: id
          in: path
          description: The ID of the site
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether deletion was successful.
        '404': *not_found_response
        default: *default_response

  /2/times:
    get:
      summary: List Times
      operationId: GetTimes
      description: Fetch a list of times based on a set of filters
      tags:
        - Times
      parameters:
        - name: start
          in: query
          description: The start of the filter range.
          required: false
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          description: The end of the filter range.
          required: false
          schema:
            type: string
            format: date-time
        - name: user_id
          in: query
          description: List of user ids to filter on
          required: false
          schema:
            type: string
            format: csv
        - name: only_open
          in: query
          description: Return only times without an end time
          required: false
          schema:
            type: boolean
        - name: updated_at
          in: query
          description: Only return times that have been updated since the provided timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: overwrite_with_rounded
          in: query
          description: Flag to overwrite the start/end/length values with their rounded counterparts (if account setting is enabled)
          required: false
          schema:
            type: integer
        - name: include_paid_break_note
          in: query
          description: Returns the note for a Shift Break Paid Record. Deprecated - please refer to the break attestation docs [here](#tag/Break-Attestation)
          required: false
          deprecated: true
          schema:
            type: boolean
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  times:
                    type: array
                    items:
                      $ref: '#/components/schemas/Time'
        '404': *not_found_response
        default: *default_response
    post:
      summary: Create Time
      operationId: CreateTime
      description: Create a time. For accounts with Check payroll onboarded, start time must not be past the end of the current pay period
      tags:
        - Times
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeRequest'
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  time:
                    $ref: '#/components/schemas/Time'
        '404': *not_found_response
        default: *default_response

  /2/times/{id}:
    get:
      summary: Get Time
      operationId: GetTime
      description: |
        Get a single time by ID
      tags:
        - Times
      parameters:
        - name: id
          in: path
          description: The ID of the time
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  time:
                    $ref: '#/components/schemas/Time'
        '404': *not_found_response
        default: *default_response
    put:
      summary: Update Time
      operationId: UpdateTime
      description: |
        Update an existing time
      tags:
        - Times
      parameters:
        - name: id
          in: path
          description: The ID of the time
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeRequest'
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  time:
                    $ref: '#/components/schemas/Time'
        '404': *not_found_response
        default: *default_response
    delete:
      summary: Delete Time
      operationId: DeleteTime
      description: |
        Delete an existing time when no longer needed. This operation cannot be undone.
      tags:
        - Times
      parameters:
        - name: id
          in: path
          description: The ID of the time
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether deletion was successful.
        '404': *not_found_response
        default: *default_response

components:
  securitySchemes:
    W-Token:
      type: http
      scheme: bearer
      bearerFormat: JSON Web Token
      description: JWT Login token

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
        details:
          type: object

    BaseScheduledBreak:
      type: object
      required:
        - length
        - paid
      properties:
        id:
          type: integer
          description: ID of the break. Provide in the request when updating an existing break.
          example: 1234
        account_id:
          type: integer
          readOnly: true
          example: 1234
        length:
          type: integer
          description: The length of the break (seconds).
          example: 1800
        paid:
          type: boolean
          description: Whether the break is a paid rest break (true) or unpaid meal break (false)
        sort:
          type: integer
          description: |
            Breaks are sorted by start time if it is available. If no start time is provided, breaks are sorted by their position in the request. In a mixed list, breaks without a start time keep their original position, while breaks with a start time are sorted amongst themselves.
          readOnly: true
        created_at:
          type: string
          description: Date and time the break was created at.
          readOnly: true
        created_by:
          type: integer
          description: The id of the user who created the break.
          readOnly: true
        updated_at:
          type: string
          description: Date and time the break was last updated.
          readOnly: true
        updated_by:
          type: integer
          description: The id of the user who last edited the break.
          readOnly: true

    ShiftScheduledBreak:
      allOf:
        - $ref: '#/components/schemas/BaseScheduledBreak'
        - type: object
          properties:
            shift_id:
              type: integer
              description: The ID of the shift that the break applies to.
              example: 1234
              readOnly: true
            start_time:
              type: string
              description: The start time of the break. Null if the break does not have a start time.
              example: Mon, 08 May 2023 9:30:00 -0600
            end_time:
              type: string
              description: The end time of the break. Null if the break does not have an end time. Calculated from the start time of the break and the length.
              example: Mon, 08 May 2023 10:00:00 -0600
              readOnly: true

    Shift:
      type: object
      required:
        - start_time
        - end_time
        - location_id
      properties:
        id:
          type: integer
          readOnly: true
          example: 10000
        account_id:
          type: integer
          example: 10000
        user_id:
          type: integer
          example: 101
          description: The user assigned to the shift. Set to `0` for an Open Shift.
        location_id:
          type: integer
          example: 1045
          description: Location the shift belongs to
        position_id:
          type: integer
          example: 19483
        site_id:
          type: integer
          example: 4351
        start_time:
          type: string
          format: date-time
          example: Mon, 08 May 2023 08:30:00 -0600
        end_time:
          type: string
          format: date-time
          example: Mon, 08 May 2023 14:30:00 -0600
        break_time:
          type: number
          example: 0.5
          description: Length of the unpaid breaks for the shift in hours.
        breaks:
          description: >
            An array of breaks for the shift. When updating a shift, any existing breaks for the shift that are not included in the request will be deleted.
          type: array
          items:
            $ref: '#/components/schemas/ShiftScheduledBreak'
        color:
          type: string
          example: cc000
          description: Assign color to shift
        notes:
          type: string
          example: Shift test
          description: Text notation for a Shift
        alerted:
          type: boolean
          example: false
          description: Is the shift Alert sent
        linked_users:
          type: array
          items:
            type: integer
          description: Array of user IDs that can take this openshift. Null means all users are eligible.
        shiftchain_key:
          type: string
          example: 1eizfwp
          description: The ID to associate shifts in a repeating pattern
        published:
          type: boolean
          example: false
          description: Is the shift published
        published_date:
          type: string
          format: date-time
          example: Mon, 01 May 2023 08:30:00 -0600
        notified_at:
          type: string
          format: date-time
          example: Mon, 01 May 2023 08:32:00 -0600
        instances:
          type: integer
          example: 3
        created_at:
          type: string
          format: date-time
          example: Mon, 24 Apr 2023 07:30:00 -0600
        updated_at:
          type: string
          format: date-time
          example: Wed, 26 Apr 2023 11:30:00 -0600
        acknowledged:
          type: boolean
          example: 0
          description: If enabled; When the user confirmed the shift
        acknowledged_at:
          type: string
          format: date-time
          example: Fri, 21 Apr 2023 13:30:00 -0600
          description: If enabled; When the user confirmed the shift
        creator_id:
          type: integer
          example: 101
          description: The user that created the shift
        is_open:
          type: boolean
          example: false
        requires_openshift_approval:
          type: boolean
          example: true
          description: Does this shift require OpenShift Approval
        openshift_approval_request_id:
          type: integer
          example: 5232
          readOnly: true
          description: ID of the associated OpenShift Approval request
        is_approved_without_time:
          type: boolean
          example: false
          readOnly: true
          description: Used to indicate that a manager or supervisor has approved a missing time entry for this shift
        is_shared:
          type: boolean
          example: false
          description: Is the shift a shared OpenShift
        is_trimmed:
          type: boolean
          example: false
          description: Is rounding active for shift

    ShiftChain:
      type: object
      properties:
        key:
          type: string
        rrule:
          description: The RFC5545-compliant RRule representing the shift chain.
          type: string
          format: RFC5545
          example: |-
            DTSTART;TZID=America/Chicago:20240603T090000
            RRULE:FREQ=WEEKLY;UNTIL=20240629T045959Z;WKST=SU;BYDAY=MO,TU,WE,TH,FR
        until:
          description: The date when the shift chain ends.
          type: string
          format: date
        week:
          description: >
            Represents the week frequency interval. `1` means weekly, `2` means every two weeks, etc.
          type: integer
          example: 1
        weekdays:
          description: |
            A bitmask of the weekdays which shifts in this chain occur on. In a seven-bit binary number, the most
            significant bit represents Sunday and the least significant bit represents Monday (0b1000001).

            Examples:
            | Days                      | Binary      | Decimal |
            |---------------------------|-------------|---------|
            | Monday through Friday     | `0b0011111` | 31      |
            | Monday, Wednesday, Friday | `0b0010101` | 21      |
            | Saturday and Sunday       | `0b1100000` | 96      |
          type: integer
          example: 31
        timezone_id:
          description: The timezone this chain is built in
          type: string
          example: America/Chicago
        count:
          deprecated: true
          description: The number of shifts created by this chain.
          type: integer
          example: 30

    Time:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
          example: 10000
          description: The time id
        account_id:
          type: integer
          readOnly: true
          example: 10000
          description: The account id
        user_id:
          type: integer
          example: 101
          description: The user assigned to the time.
        creator_id:
          type: integer
          readOnly: true
          example: 100
          description: The user that created the time.
        position_id:
          type: integer
          example: 19483
          description: Position the time belongs to. 0 if unassigned.
        location_id:
          type: integer
          example: 1045
          description: Location the time belongs to. 0 if unassigned.
        site_id:
          type: integer
          example: 4351
          description: Site the time belongs to. 0 if unassigned.
        shift_id:
          type: integer
          example: 5451
          description: A shift tied to this time. 0 if unassigned.
        start_time:
          type: string
          format: date-time
          example: Fri, 07 Mar 2016 08:30:00 -0600
          description: The start time
        end_time:
          type: string
          format: date-time
          example: Fri, 07 Mar 2016 14:30:00 -0600
          description: The end time
        rounded_start_time:
          type: string
          format: date-time
          example: Fri, 07 Mar 2016 08:30:00 -0600
          description: The rounded start time. If rounding is not enabled this field will not be present.
        rounded_end_time:
          type: string
          format: date-time
          example: Fri, 07 Mar 2016 14:30:00 -0600
          description: The rounded end time. If rounding is not enabled this field will not be present.
        notes:
          type: string
          example: A time note
          description: Notes for a time
        length:
          type: number
          format: float
          readOnly: true
          example: 8
          description: The length of the time in hours.
        rounded_length:
          type: number
          format: float
          readOnly: true
          example: 8
          description: The rounded length calculated from the rounded_start_time and rounded_end_time. If rounding is not enabled this field will not be present.
        hourly_rate:
          type: number
          format: float
          readOnly: true
          example: 15
          description: The base hourly rate for this time.
        cash_tips:
          type: string
          format: decimal
          nullable: true
          description: |
            Any cash tips reported for the shift.
            Note: the tips feature is required to see and use this field.
          example: '123.45'
        alert_type:
          type: integer
          readOnly: true
          example: 16
          description: The type of alert for this time
        is_approved:
          type: boolean
          example: false
          description: If the time is approved
        modified_by:
          type: integer
          readOnly: true
          example: 18438
          description: The user that modified the time
        sync_id:
          type: string
          readOnly: true
          example: ''
          description: The quickbooks sync id
        sync_hash:
          type: string
          readOnly: true
          example: ''
          description: The quickbooks sync hash
        updated_at:
          type: string
          readOnly: true
          format: date-time
          example: Tue, 17 Mar 2020 14:48:43 -0700
          description: When the time was updated
        created_at:
          type: string
          readOnly: true
          format: date-time
          example: Tue, 17 Mar 2020 14:25:48 -0700
          description: When the time was created
        split_time:
          type: string
          readOnly: true
          format: date-time
          example: Fri, 07 Mar 2016 00:00:00 -0600
          description: If the time crosses payroll periods, when to split it
        is_alerted:
          type: boolean
          readOnly: true
          example: false
          description: If alert_type > 0

    TimeRequest:
      type: object
      properties:
        user_id:
          type: integer
          example: 101
          description: The user assigned to the times.
        position_id:
          type: integer
          example: 19483
          description: Position the time belongs to. 0 if unassigned.
        location_id:
          type: integer
          example: 1045
          description: Location the time belongs to. 0 if unassigned.
        site_id:
          type: integer
          example: 4351
          description: Site the time belongs to. 0 if unassigned.
        shift_id:
          type: integer
          example: 5451
          description: A shift tied to this time. 0 if unassigned.
        start_time:
          type: string
          format: date-time
          example: Fri, 07 Mar 2016 08:30:00 -0600
          description: The start time. For accounts with Check payroll onboarded, time must not be past the end of the current pay period
        end_time:
          type: string
          format: date-time
          example: Fri, 07 Mar 2016 14:30:00 -0600
          description: The end time
        rounded_start_time:
          type: string
          format: date-time
          example: Fri, 07 Mar 2016 08:30:00 -0600
          description: The rounded start time. If rounding is not enabled this field will not be present.
        rounded_end_time:
          type: string
          format: date-time
          example: Fri, 07 Mar 2016 14:30:00 -0600
          description: The rounded end time. If rounding is not enabled this field will not be present.
        notes:
          type: string
          example: A time note
          description: Notes for a time
        is_approved:
          type: boolean
          example: false
          description: If the time is approved
        cash_tips:
          description: The amount of cash tips reported for the time entry.
          type: string
          format: decimal
          example: '54.32'

    Account:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        company:
          type: string
        timezone:
          $ref: '#/components/schemas/Timezone'

    Timezone:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: Asia/Dubai

    User:
      type: object
      properties:
        account_id:
          type: integer
          description: ID of the primary account for this user.
        activated:
          type: boolean
          description: Whether the manager has activated this user.
        email:
          description: The email address of this user.
          format: email
          type: string
        employee_code:
          description: The user's employee code. This code can be used to clock in instead of the user's email address, or it can be used to help map users in When I Work to other services.
          type: string
        first_name:
          description: The first name of this user.
          type: string
        hourly_rate:
          description: The base hourly rate for this user. The user can have additional wages based on the position they are working at the time. There is no currency attached, so customers are expected to input correct values for their currency or do their own conversion from USD.
          format: float
          type: number
        hours_max:
          description: The max hours that this user prefers to work. A manager may still schedule the user beyond this value.
          format: float
          type: number
        hours_preferred:
          description: The preferred number of hours for this user to work.
          format: float
          type: number
        id:
          description: Unique identifier for the user.
          type: integer
        is_deleted:
          description: Whether the user has been deleted.
          type: boolean
        is_hidden:
          description: Whether the user has been hidden from the scheduler.
          type: boolean
        is_payroll:
          description: Whether the user has access to payroll. (Only available for managers and supervisors.)
          type: boolean
        is_private:
          description: Whether the user has privacy enabled, which will hide their contact details from other employees. Supervisors+ can not hide their email/phone from other employees.
          type: boolean
        is_trusted:
          description: Whether the user can edit their own timesheet.
          type: boolean
        last_login:
          description: The date and time when this user last logged in.
          format: date-time
          type: string
        last_name:
          description: The last name of this user.
          type: string
        locations:
          description: An array of location IDs to be applied to this user.
          type: array
          items:
            type: integer
        login_id:
          description: Unique identifier for the login belonging to the user.
          type: integer
        notes:
          description: Notes about this user. Visible only to supervisors+.
          type: string
        phone_number:
          description: The phone number of this user.
          type: string
        positions:
          description: An array of position IDs to be assigned to this user.
          type: array
          items:
            type: integer
        role:
          description: The user's role.
          type: string
          enum:
            - '1 = Admin'
            - '2 = Manager'
            - '3 = Employee (Default)'
            - '4 = Lead (Unused)'
            - '5 = Supervisor'
        type:
          description: A bitwise flag representing additional wage options.
          type: integer
          enum:
            - 1
            - 2
            - 3

    Login:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        avatar:
          type: object
          properties:
            url:
              type: string
            size:
              type: integer
        token:
          type: string

    Site:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
          example: 10000
        account_id:
          type: integer
          example: 10000
        location_id:
          type: integer
          example: 145030
        name:
          type: string
          example: Main venue.
        color:
          type: string
          example: 8da6d9
        description:
          type: string
          example: Large meeting room
        address:
          type: string
          example: 420 N 5th St #500, Minneapolis, MN 55401, USA
        coordinates:
          type: array
          items:
            type: number
          example: [44.983791, -93.2774416]
        latitude:
          type: number
          format: float
          example: 44.983791
        longitude:
          type: number
          format: float
          example: -93.2774416
        place:
          $ref: '#/components/schemas/Place'
        place_id:
          type: string
          example: '2'
        is_deleted:
          type: boolean
          example: false
        deleted_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
          example: 2020-05-16T06:57:28+05:00
        updated_at:
          type: string
          format: date-time
          example: 2020-05-26T06:57:28+05:00

    Place:
      type: object
      properties:
        address:
          type: string
          example: 420 N 5th St #500, Minneapolis, MN 55401, USA
        business_name:
          type: string
          example: When I Work
        country:
          type: string
          example: US
        id:
          type: integer
          example: 2
        latitude:
          type: number
          format: float
          example: 44.983791
        locality:
          type: string
          example: Minneapolis
        longitude:
          type: number
          format: float
          example: -93.277442
        place_id:
          type: string
          example: ChIJYfRBzjfVslIRQLB018IGX3o
        place_type:
          type: array
          items:
            type: string
          example: [point_of_interest, establishment]
        postal_code:
          type: string
          example: 55401
        region:
          type: string
          example: MN
        street_name:
          type: string
          example: N 5th St
        street_number:
          type: string
          example: '420'
        sub_locality:
          type: string
        updated_at:
          type: string
          format: date-time
          example: 2019-05-16T09:14:45+05:45

    SiteRequest:
      type: object
      properties:
        account_id:
          type: integer
          example: 10000
        location_id:
          type: integer
          example: 145030
        name:
          type: string
          example: Main venue.
        color:
          type: string
          example: 8da6d9
        description:
          type: string
          example: Large meeting room
        address:
          type: string
          example: 420 N 5th St #500, Minneapolis, MN 55401, USA
        coordinates:
          type: array
          items:
            type: number
          example: [44.983791, -93.2774416]
        latitude:
          type: number
          format: float
          example: 44.983791
        longitude:
          type: number
          format: float
          example: -93.2774416
        place:
          $ref: '#/components/schemas/Place'
        place_id:
          type: string
          example: '2'
